@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*{
  padding: 0;
  margin: 0;
}
  
header{
  height: 15%;
  width: 100%;

  display: flex;
  justify-content: center;

  z-index: 1;
}
.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    filter: blur(2px);
    animation: twinkle 2s infinite alternate;
}
.star.small {
    width: 8px;
    height: 8px;
    box-shadow: 0px -6px 10px rgba(255, 255, 255, 0.6), 0px 6px 10px rgba(255, 255, 255, 0.3), -6px 0px 10px rgba(255, 255, 255, 0.4), 6px 0px 10px rgba(255, 255, 255, 0.4);
}
.star.tiny {
    width: 4px;
    height: 4px;
    box-shadow: 0px -3px 5px rgba(255, 255, 255, 0.6), 0px 3px 5px rgba(255, 255, 255, 0.3), -3px 0px 5px rgba(255, 255, 255, 0.4), 3px 0px 5px rgba(255, 255, 255, 0.4);
}